<% if (post.link){ %>
  <h4 itemprop="name">
    <a class="<%= class_name %>" href="<%- post.link %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h4>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h4 itemprop="name">
      <a class="<%= class_name %>" href="<%- config.root %><%- post.path %>"><%= post.title %></a>
    </h4>
  <% } else { %>
    <h4 class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </h4>
  <% } %>
<% } %>